html {
    height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background: #2b5b84;
	padding-bottom: 0px;
}

.thumbnail {
    width: 250px;
    height: 200px;
}

.fp-image-box {
	text-align: center;
}

.fp-image {
	float: left;
	padding: 1.2%;
}

.fp-image img {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
	border: 2px solid #000;
	border-radius: 25px;   
	-webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;;
	-moz-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;;
}
.fp-image:hover img {
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
     transform:scale(1.1);
}

.card-container{
	perspective: 700;
	float: left;
}

.card {
	position: relative;
	margin: 40px;
	line-height: 200px;
	width: 300px;
	height: 200px;
	transition: all 0.6s ease;
	transform-style: preserve-3d;
}

.front, .back{
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 200px;
	backface-visibility: hidden;
}

.back{
	transform: rotateY(180deg);
}

.card:hover{
	transform: rotateY(180deg);
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	text-align:center;
	padding-top: 30px;
	padding-left: 5px;
	color: white;
	text-shadow: 2px 2px black;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	text-align:center;
	color: white;
	text-shadow: 2px 2px black;
}
h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-align:center;
	color: white;
	text-shadow: 2px 2px black;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.about {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	text-shadow: 2px 2px black;
	color: white;
	margin-bottom: 20px;
}

.white-knight{
	color: white;
	text-shadow: 1px 1px black;
}

.section-container{
	padding-bottom: 15px;
}

.tip-container{
	padding-bottom: 10px;
}

.white-box{
	background-color: white;
	border: 2px solid #F5F5F5;
	border-radius: 3px;   
	margin-top: 15px;
	margin-bottom: 5px;
	padding: 5px;
	box-shadow: 2px 2px 2px black;
}

a {
	color: #2b5b84;
}

.script-container{
	box-shadow: 2px 2px 2px black;
}

.footer {
	background:#101010;
	height: 40px;
	padding-top: 10px;
}

.foot {
	color: #9d9d9d;
	text-align: center;
	padding-top: 20px;
}

.foot:hover{
	color: white;
	text-decoration: none;
}

.pylogo{
	width: 70px;
	height: 70px;
}

/* Sacnasty Draft */
.sacnasty-main-div {
	padding-top: 10px;
}

.sacnasty-simulate-div {
	align-content: center;
	text-align: center;
	padding-bottom: 20px;
}

.sacnasty-draft-btn {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	border-radius: 5px;
	color: white;
	background-color: #c19a6b;
}

.sacnasty-draft-btn:hover {
	background-color: #6b563b;
}

.sacnasty-draft-btn:active {
  	transform: translateY(4px);
}

.sacnasty-ball-div {
	align-content: center;
	text-align: center;
	cursor: pointer;
	display: none;
}

.sacnasty-ball {
	margin: auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: white;
	margin-bottom: 10px;
	box-shadow: 0 0 0 2px dimgrey;
}

.sacnasty-ball-text {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding-top: 40px;
	font-weight: bold;
}

/* Sacnasty Pie */
.sacnasty-pie-div {
	width: 100%;
	height: 100%
}

.sacnasty-pie-div-chart {
	height: 100%;
	width: 100%;
	margin: auto;
	max-height: 700px;
	max-width: 700px;
}

/* Paralaxed */
.p-wrapper {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	perspective: 10px;
	background: none;
	margin-left: -5px;
}

.p-header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	transform-style: preserve-3d;
	z-index: -1;
}

.p-title {
	font-size: 7rem;
	color: white;
	text-shadow: 0 0 5px black;
}

.p-section {
	font-size: 2rem;
	padding: 2rem;
	background-color: #333;
	color: white;
}

.p-background {
	transform: translateZ(-10px) scale(2);
}

.p-foreground {
	transform: translateZ(-5px) scale(1.5);
	height: 100px;
	width: 100px;
}

.p-foreground-d {

}

.p-background,
.p-foreground {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -1;
}

